---

- name: "periodic: Debug"
  vars:
    msg: |-
      fp_periodic_conf_local_file [{{ fp_periodic_conf_local_file }}]
      fp_periodic_conf_local
      {{ fp_periodic_conf_local|to_yaml }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"
  when: fp_periodic_debug|bool
  tags: [fp_periodic_debug, always]

- name: "periodic: Configure {{ fp_periodic_conf_local_file }}"
  ansible.builtin.lineinfile:
    create: true
    mode: "0644"
    dest: "{{ fp_periodic_conf_local_file }}"
    regexp: '^\s*{{ item.key }}\s*=(.*)$'
    line: '{{ item.key }}="{{ item.value }}"'
    backup: "{{ fp_backup }}"
  loop: "{{ fp_periodic_conf_local }}"
  tags: fp_periodic_conf_local

# NOTES
#
# 13.10. Monitoring Third Party Security Issues
# https://www.freebsd.org/doc/handbook/security-pkg.html
#
# Not Getting Security Reports
# https://forums.freebsd.org/threads/not-getting-security-reports.21841/
#
# Daily security scripts: best practice for jails?
# https://forums.freebsd.org/threads/daily-security-scripts-best-practice-for-jails.55868/

# EOF
...
