---

- name: "ssh: Debug"
  vars:
    msg: |-
      fp_ssh_conf_file: {{ fp_ssh_conf_file }}
      fp_ssh_conf:
        {{ fp_ssh_conf|to_yaml|indent(2) }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"
  when: fp_ssh_debug|bool
  tags: fp_ssh_debug

- name: "ssh: Configure {{ fp_ssh_conf_file }}"
  ansible.builtin.template:
    src: "{{ fp_ssh_conf_template }}"
    dest: "{{ fp_ssh_conf_file }}"
    owner: "{{ fp_ssh_conf_owner }}"
    group: "{{ fp_ssh_conf_group }}"
    mode: "{{ fp_ssh_conf_mode }}"
    backup: "{{ fp_backup }}"
  tags: fp_ssh_config

# EOF
...
