---
- name: "Sysctl: Debug fp_sysctl_debug={{ fp_sysctl_debug }}"
  when: fp_sysctl_debug | bool
  tags: fp_sysctl_debug
  vars:
    msg: |-
      fp_sysctl_tuneables_warning: {{ fp_sysctl_tuneables_warning }}
      fp_sysctl_conf_file: {{ fp_sysctl_conf_file }}
      fp_sysctl_ignoreerrors: {{ fp_sysctl_ignoreerrors }}
      fp_sysctl_conf:
        {{ fp_sysctl_conf | to_yaml(indent=2) | indent(2) }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"

- name: "Sysctl: Configure {{ fp_sysctl_conf_file }}"
  tags: fp_sysctl_conf
  ansible.posix.sysctl:
    sysctl_file: "{{ fp_sysctl_conf_file }}"
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: "{{ item.state | d(omit) }}"
    reload: "{{ item.reload | d(omit) }}"
    sysctl_set: "{{ item.set | default(omit) }}"
    ignoreerrors: "{{ fp_sysctl_ignoreerrors | d(omit) }}"
  loop: "{{ fp_sysctl_conf }}"

- name: Warn when fp_sysctl_conf keeps boot-time tuneables settable via loader.
  when: fp_sysctl_tuneables_warning | bool
  tags: fp_sysctl_tuneables_warning
  block:

    - name: "Sysctl: Get sysctls settable via loader."
      register: result
      ansible.builtin.command: sysctl -aNT
      changed_when: false
      check_mode: false

    - name: "Sysctl: Warn when fp_sysctl_conf keeps boot-time tuneables settable via loader."
      when: fp_sysctl_tuneables | length > 0
      vars:
        fp_sysctl_tuneables: "{{ fp_sysctl_conf | map(attribute='name') | select('in', result.stdout_lines) | sort }}"
      ansible.builtin.debug:
        msg: >-
          [WARNING] Loader boot-time tuneables in fp_sysctl_conf:
          {{ fp_sysctl_tuneables | to_yaml }}

# NOTES
# 1) As of v2.6 module sysctl 'optionally performs a /sbin/sysctl -p'
# http://ansible-manual.readthedocs.io/en/latest/sysctl_module.html
# 2) freebsd doesn't support -p, so reload the sysctl service
# rc,out,err = self.module.run_command('/etc/rc.d/sysctl reload')
# https://github.com/ansible/ansible-modules-core/blob/devel/system/sysctl.py
# 3) See loader.yml how tuneables are settable via loader.
# https://forums.freebsd.org/threads/reload-loader-conf.72010/

# EOF
