#jinja2: trim_blocks:False
---
myhandlers:
  - file: main.yml
    link: handlers-main.yml
    path: handlers/main.yml
    synopsis: |
      Main task.
    description: |
      Import handlers.
    lines: 1,2
    seealso: []
    notes: []
    hints: []
    warnings: []
{% for file in my_files %}
  - file: {{ file.1 }}
    link: {{ file.1 }}
    path: handlers/{{ file.2 }}
    synopsis: |
      {{ lookup('vars', 'handler_' ~ file.0 ~ '_synopsis', default='Configure ' ~ file.0) | indent(width=6) }}
    description: |
      {{ lookup('vars', 'handler_' ~ file.0 ~ '_description', default='Description of the task.') | indent(width=6) }}
    lines: {{ lookup('vars', 'handler_' ~ file.0 ~ '_lines', default='1') }}
    seealso: {{ lookup('vars', 'handler_' ~ file.0 ~ '_seealso', default={}) }}
    notes: {{ lookup('vars', 'handler_' ~ file.0 ~ '_note', default=[]) }}
    hints: {{ lookup('vars', 'handler_' ~ file.0 ~ '_hint', default=[]) }}
    warnings: {{ lookup('vars', 'handler_' ~ file.0 ~ '_warning', default=[]) }}
{% endfor %}
...
