#jinja2: trim_blocks:False
---
mytemplates:{% if my_files | d([]) | length == 0  %} []{% endif %}
{% for file in my_files %}
  - file: {{ file.1 }}
    link: {{ file.1 }}
    path: templates/{{ file.2 }}
    synopsis: |
      {{ lookup('vars', 'template_' ~ file.0 ~ '_synopsis', default='Configure ' ~ file.0) | indent(width=6) }}
    description: |
      {{ lookup('vars', 'template_' ~ file.0 ~ '_description', default='Description of the task.') | indent(width=6) }}
    lines: {{ lookup('vars', 'template_' ~ file.0 ~ '_lines', default='1') }}
    seealso: {{ lookup('vars', 'template_' ~ file.0 ~ '_seealso', default={}) }}
    notes: {{ lookup('vars', 'template_' ~ file.0 ~ '_note', default=[]) }}
    hints: {{ lookup('vars', 'template_' ~ file.0 ~ '_hint', default=[]) }}
    warnings: {{ lookup('vars', 'template_' ~ file.0 ~ '_warning', default=[]) }}
{% endfor %}
...
