---
# qemu
- name: enable and start qemu
  ansible.builtin.service: name="{{ fp_qemu_rcvar }}" state="started" enabled=true
- name: disable and stop qemu
  ansible.builtin.service: name="{{ fp_qemu_rcvar }}" state="stopped" enabled=false
- name: restart qemu
  ansible.builtin.service: name="{{ fp_qemu_rcvar }}" state="restarted"
  when: fp_qemu_enabled|bool
- name: reload qemu
  ansible.builtin.service: name="{{ fp_qemu_rcvar }}" state="reloaded"
  when: fp_qemu_enabled|bool
