# fp_cron: true
# fp_cron_var:
#   - {user: root, name: MAILTO, value: root}
# fp_cron_tab:
#   - {state: present,
#      user: root,
#      name: rsnapshot hourly,
#      minute: "35", hour: "*/4", day: "*", month: "*", weekday: "*",
#      command: "/usr/local/bin/rsnapshot hourly"}
#   - {state: present,
#      user: root,
#      name: rsnapshot daily,
#      minute: "35", hour: "3", day: "*", month: "*", weekday: "*",
#      command: "/usr/local/bin/rsnapshot daily"}
#   - {state: present,
#      user: root,
#      name: rsnapshot weekly,
#      minute: "40", hour: "3", day: "*", month: "*", weekday: "1",
#      command: "/usr/local/bin/rsnapshot weekly"}
#   - {state: present,
#      user: root,
#      name: rsnapshot montly,
#      minute: "45", hour: "3", day: "1", month: "*", weekday: "*",
#      command: "/usr/local/bin/rsnapshot monthly"}
