# fp_install: false
# fp_packages:
#   - {list: minimal, enabled: true}
#   - {list: postinstall, enabled: true}
#   - {list: apcups, enabled: "{{ fp_apcupsd_install }}"}
#   - {list: hostap, enabled: "{{ fp_hostapd_install }}"}
#   - {list: linux, enabled: "{{ fp_linux_install }}"}
#   - {list: procmail, enabled: "{{ fp_procmail_install }}"}
#   - {list: smart, enabled: "{{ fp_smartd_install }}"}
#   - {list: snmpd, enabled: "{{ fp_snmpd_install }}"}
#   - {list: wpa_supplicant, enabled: "{{ fp_wpasupplicant_install }}"}
#   - {list: qemu, enabled: "{{ fp_qemu_install }}"}
#   - {list: qemu_user_static, enabled: "{{ fp_qemu_user_static_install }}"}
#   - {list: apache, enabled: true}
#   - {list: bind, enabled: false}
#   - {list: devel, enabled: false}
#   - {list: dhcp, enabled: false}
#   - {list: integrity, enabled: true}
#   - {list: leutils, enabled: false}
#   - {list: mysql, enabled: false}
#   - {list: pf, enabled: false}
#   - {list: poudriere, enabled: true}
#   - {list: python, enabled: true}
#   - {list: jail, enabled: true}
# fp_links:
#   - target: "/usr/local/bin/python{{ bsd_make_python_version }}"
#     link: /usr/local/bin/python
#   - target: /usr/local/bin/bash
#     link: /bin/bash
