# fp_smartd: true
# fp_smartd_install: true
# fp_smartd_enabled: true
# fp_smartd_devices:
#   - regexp: "^/dev/ada0"
#     line: "/dev/ada0 -a -o on -S on -s (S/../.././02|L/../../6/03) -m admin"
#   - regexp: "^/dev/ada1"
#     line: "/dev/ada1 -a -o on -S on -s (S/../.././02|L/../../6/03) -m admin"
