## apcupsd.conf v1.1 ##
# {{ ansible_managed }}
UPSNAME {{ fp_apcupsd_UPSNAME }}
UPSCABLE {{ fp_apcupsd_UPSCABLE }}
UPSTYPE {{ fp_apcupsd_UPSTYPE }}
LOCKFILE {{ fp_apcupsd_LOCKFILE }}
SCRIPTDIR {{ fp_apcupsd_SCRIPTDIR }}
PWRFAILDIR {{ fp_apcupsd_PWRFAILDIR }}
NOLOGINDIR {{ fp_apcupsd_NOLOGINDIR }}
ONBATTERYDELAY {{ fp_apcupsd_ONBATTERYDELAY }}
BATTERYLEVEL {{ fp_apcupsd_BATTERYLEVEL }}
MINUTES {{ fp_apcupsd_MINUTES }}
TIMEOUT {{ fp_apcupsd_TIMEOUT }}
ANNOY {{ fp_apcupsd_ANNOY }}
ANNOYDELAY {{ fp_apcupsd_ANNOYDELAY }}
NOLOGON {{ fp_apcupsd_NOLOGON }}
KILLDELAY {{ fp_apcupsd_KILLDELAY }}
NETSERVER {{ fp_apcupsd_NETSERVER }}
NISIP {{ fp_apcupsd_NISIP }}
NISPORT {{ fp_apcupsd_NISPORT }}
EVENTSFILE {{ fp_apcupsd_EVENTSFILE }}
EVENTSFILEMAX {{ fp_apcupsd_EVENTSFILEMAX }}
UPSCLASS {{ fp_apcupsd_UPSCLASS }}
UPSMODE {{ fp_apcupsd_UPSMODE }}
STATTIME {{ fp_apcupsd_STATTIME }}
STATFILE {{ fp_apcupsd_STATFILE }}
LOGSTATS {{ fp_apcupsd_LOGSTATS }}
