## apcupsd.conf v1.1 ##
# {{ansible_managed}}
UPSNAME {{freebsd_postinstall_apcupsd_UPSNAME}}
UPSCABLE {{freebsd_postinstall_apcupsd_UPSCABLE}}
UPSTYPE {{freebsd_postinstall_apcupsd_UPSTYPE}}
LOCKFILE {{freebsd_postinstall_apcupsd_LOCKFILE}}
SCRIPTDIR {{freebsd_postinstall_apcupsd_SCRIPTDIR}}
PWRFAILDIR {{freebsd_postinstall_apcupsd_PWRFAILDIR}}
NOLOGINDIR {{freebsd_postinstall_apcupsd_NOLOGINDIR}}
ONBATTERYDELAY {{freebsd_postinstall_apcupsd_ONBATTERYDELAY}}
BATTERYLEVEL {{freebsd_postinstall_apcupsd_BATTERYLEVEL}}
MINUTES {{freebsd_postinstall_apcupsd_MINUTES}}
TIMEOUT {{freebsd_postinstall_apcupsd_TIMEOUT}}
ANNOY {{freebsd_postinstall_apcupsd_ANNOY}}
ANNOYDELAY {{freebsd_postinstall_apcupsd_ANNOYDELAY}}
NOLOGON {{freebsd_postinstall_apcupsd_NOLOGON}}
KILLDELAY {{freebsd_postinstall_apcupsd_KILLDELAY}}
NETSERVER {{freebsd_postinstall_apcupsd_NETSERVER}}
NISIP {{freebsd_postinstall_apcupsd_NISIP}}
NISPORT {{freebsd_postinstall_apcupsd_NISPORT}}
EVENTSFILE {{freebsd_postinstall_apcupsd_EVENTSFILE}}
EVENTSFILEMAX {{freebsd_postinstall_apcupsd_EVENTSFILEMAX}}
UPSCLASS {{freebsd_postinstall_apcupsd_UPSCLASS}}
UPSMODE {{freebsd_postinstall_apcupsd_UPSMODE}}
STATTIME {{freebsd_postinstall_apcupsd_STATTIME}}
STATFILE {{freebsd_postinstall_apcupsd_STATFILE}}
LOGSTATS {{freebsd_postinstall_apcupsd_LOGSTATS}}
