## apcupsd.conf v1.1 ##
# {{ ansible_managed }}
UPSNAME {{ fp_apcupsd_upsname }}
UPSCABLE {{ fp_apcupsd_upscable }}
UPSTYPE {{ fp_apcupsd_upstype }}
LOCKFILE {{ fp_apcupsd_lockfile }}
SCRIPTDIR {{ fp_apcupsd_scriptdir }}
PWRFAILDIR {{ fp_apcupsd_pwrfaildir }}
NOLOGINDIR {{ fp_apcupsd_nologindir }}
ONBATTERYDELAY {{ fp_apcupsd_onbatterydelay }}
BATTERYLEVEL {{ fp_apcupsd_batterylevel }}
MINUTES {{ fp_apcupsd_minutes }}
TIMEOUT {{ fp_apcupsd_timeout }}
ANNOY {{ fp_apcupsd_annoy }}
ANNOYDELAY {{ fp_apcupsd_annoydelay }}
NOLOGON {{ fp_apcupsd_nologon }}
KILLDELAY {{ fp_apcupsd_killdelay }}
NETSERVER {{ fp_apcupsd_netserver }}
NISIP {{ fp_apcupsd_nisip }}
NISPORT {{ fp_apcupsd_nisport }}
EVENTSFILE {{ fp_apcupsd_eventsfile }}
EVENTSFILEMAX {{ fp_apcupsd_eventsfilemax }}
UPSCLASS {{ fp_apcupsd_upsclass }}
UPSMODE {{ fp_apcupsd_upsmode }}
STATTIME {{ fp_apcupsd_stattime }}
STATFILE {{ fp_apcupsd_statfile }}
LOGSTATS {{ fp_apcupsd_logstats }}
