# {{ ansible_managed }}
{{ fp_hosts_localhost_ipv6 }}	localhost localhost.{{ fp_domain }}
{{ fp_hosts_localhost_ipv4 }}	localhost localhost.{{ fp_domain }}

{% for item in fp_hosts_conf %}
{{ item.ip }}    {{ item.fqdn }}{% for alias in item.aliases|default([]) %} {{ alias }}{% endfor %}{% if item.hostname|default('')|length > 0 %} {{ item.hostname }}
{% endif %}
{% endfor %}

# EOF
