# {{ ansible_managed }}
::1		localhost	localhost.{{ fp_domain }}
127.0.0.1	localhost	localhost.{{ fp_domain }}

{% for item in fp_hosts %}
{{ item.ip }}	{{ item.hostname }}	 {{ item.fqdn }}
{% endfor %}

# EOF
