# {{ ansible_managed }}
# {{ template_path }}
{% for item in fp_inetd_hosts_allow_conf %}
{{ item.daemons | join(' ') }} : \
    {{ item.clients | join(' ') }} : \
{% if item.options is defined %}
    {{ item.options | join(' ') }} : \
{% endif %}
    {{ item.action | join(' ') }}
{% endfor %}
