# {{ ansible_managed }}
# {{ template_path }}
{{ fp_hosts_localhost_ipv6 }}	{{ fp_hosts_localhost_ipv6_hosts | join(' ') }}
{{ fp_hosts_localhost_ipv4 }}	{{ fp_hosts_localhost_ipv4_hosts | join(' ') }}

{% for item in fp_hosts_conf %}
{{ item.ip }}    {{ item.fqdn }} {{ item.hostname | d('') }}
{% endfor %}

# EOF
