# {{ ansible_managed }}
{% for item in fp_hosts_alllow_conf %}
{{ item.daemons | join(' ') }} : \
    {{ item.clients | join(' ') }} : \
{% if item.options is defined %}
    {{ item.options | join(' ') }} : \
{% endif %}
    {{ item.action | join(' ') }}
{% endfor %}
