# {{ ansible_managed }}

# fp_loader_conf
{% for item in fp_loader_conf %}
{{ item }}
{% endfor %}

# fp_loader_conf_modules
{% for item in fp_loader_conf_modules %}
{{ item }}_load="YES"
{% endfor %}

# EOF
