# Subject: get certificate; Capability: Send fingerprint of certifcate
:0i
* !^Subject:.*Re:
* !^FROM_DAEMON
* ^Subject:.*get certificate
| (/usr/local/bin/formail -r -A "From: {{ item.par1 }}"; {{ item.par2 }}) | $SENDMAIL -oi -t
