# Subject: capability; Capability: Send list of capabilities; Name: capability
:0i
* !^Subject:.*Re:
* !^FROM_DAEMON
* ^Subject:.*capability
| (/usr/local/bin/formail -r -A "From: {{item.par1}}"; grep -h -r "^# Subject.*Capability.*Name" {{item.par2}}/*.rc ) | $SENDMAIL -oi -t
